<style>
     [id^=modal_add_] .selected {
        background-color: #e0f1af !important;
    }

    [id^=modal_add_] tr {
        cursor: pointer;
    } 

    .my-error{
        margin-top: 5px;
        color: #B94A48 !important;
        background-color: #F2DEDE !important;
        border: 1px solid #EED3D7 !important;
        padding: 10px;
    }
</style>

<div class="modal fade" id="modalAddDesktop" tabindex="-1" role="dialog" 
   aria-labelledby="modalAddDesktop" aria-hidden="true">
   <div class="modal-dialog modal-lg">
      <div class="modal-content">
         <!-- Modal Header -->
         <div class="modal-header">
            <button type="button" class="close"
               data-dismiss="modal">
                  <span aria-hidden="true">&times;</span>
                  <span class="sr-only">Close</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">
               <i class="fa fa-plus fa-1x"> </i> <i class="fa fa-desktop"> </i> Create multiple desktops
            </h4>
         </div>
         <!-- Modal Body -->
         <div class="modal-body">
            <form id="modalAdd" class="form-inline form-label-left">
               <div class="x_panel">
                  <h4><i class="fa fa-info-circle" aria-hidden="true"></i> Desktop name and description</h4>
                  <div class="x_content" style="padding: 0px;">
                     <div class="row">
                        <div class="col-md-4 col-xs-12">
                           <label class="control-label" for="name">Name <span class="required">*</span>
                           </label>
                           <input id="name" class="roundbox" maxlength="40" pattern="^[\-_àèìòùáéíóúñçÀÈÌÒÙÁÉÍÓÚÑÇ .a-zA-Z0-9]+$" data-parsley-length="[4, 40]" name="name" placeholder="New desktop name" data-parsley-trigger="change" required type="text" style="width:100%">
                        </div>
                        <div class="col-md-8 col-xs-12">
                           <label class="control-label" for="description">Description 
                           </label>
                           <input id="description" class="roundbox" name="description" placeholder="Desktop description"  type="text" style="width:100%">
                        </div>
                     </div>
                  </div>
               </div>
               <div class="x_panel">
                  <h4><i class="fa fa-cubes" aria-hidden="true"></i> Select a template</h4>
                  <input  id="template" name="template" type="hidden" required>
                  <table id="modal_add_desktops" class="table" cellspacing="0" width="100%"  style="margin-top: 0px;">
                     <thead>
                        <tr>
                              <th>Name</th>
                              <th>Group</th>
                              <th>User</th>
                        </tr>
                     </thead>
                     <tbody>
                     </tbody>
                  </table>
                  <div id="datatables-error-status"></div>
               </div>
               <div class="x_panel" id="hardware-block" style="display: none;">
                  <h4><i class="fa fa-gear" aria-hidden="true"></i> Hardware</h4>
                  {% include '/snippets/domain_hardware_edit.html' %}
               </div>
               <div class="x_panel" style="display: block;">
                  <p style="font-size: 18px;margin-bottom:0px;">Create desktops to following users</p>
                  <div id="alloweds-block">
                     {% include '/snippets/alloweds_add.html' %}
                  </div>
               </div>
            </form>
            <!-- Modal Footer -->
            <div class="modal-footer">
               <ul class="nav navbar-left panel_toolbox">
                  <li><button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button></li>
                  </li>
               </ul>
               <ul class="nav navbar-right panel_toolbox">
                  <li><button id="send-block" type="button" class="btn btn-success">Crate desktops</button></li>
                  </li>
               </ul>
            </div>
         </div>
      </div>
   </div>
</div>

<div class="modal fade" id="modalAddFromBuilder" tabindex="-1" role="dialog" 
   aria-labelledby="modalAddBuilder" aria-hidden="true">
    <div class="modal-dialog">
         <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header"  style="padding: 5px;">
               <button type="button" class="close" 
                  data-dismiss="modal">
               <span aria-hidden="true">&times;</span>
               <span class="sr-only">Close</span>
               </button>
               <h4 class="modal-title" id="myModalLabel">
                  <i class="fa fa-plus fa-1x"> </i> <i class="fa fa-gears"> </i>   Create desktop from automated builder
               </h4>
            </div>
            <!-- Modal Body -->
            <div class="modal-body" style="padding: 7px;">
               <form id="modalAdd" class="form-inline form-label-left">
                  <div id="modalData" class="x_panel" style="padding: 5px;">
                     <p style="font-size: 18px;margin-bottom:0px;">Desktop name and description</p>
                     <div class="x_content" style="padding: 0px;">
                           
                        <div class="row">
                           <div class="col-md-4 col-xs-12">
                              <label class="control-label" for="name">Name <span class="required">*</span>
                              </label>
                              <input id="name" maxlength="40" pattern="^[_àèìòùáéíóúñçÀÈÌÒÙÁÉÍÓÚÑÇ .a-zA-Z0-9]+$" data-parsley-length="[4, 40]" name="name" placeholder="New desktop name" data-parsley-trigger="change" required type="text">
                           </div>
                           <div class="col-md-8 col-xs-12">
                              <label class="control-label" for="description">Description 
                              </label>
                              <input id="description" name="description" placeholder="Desktop description"  type="text" style="width:100%">
                           </div>
                        </div>
                     </div>
                  </div>

                  <div id="modalBuilder" class="x_panel" style="padding: 5px;">
                     <p style="font-size: 18px;margin-bottom:0px;">Select an automated image builder</p>
                     <input  id="builder-id" name="builder-id" type="hidden"  required>
                     <input  id="install-id" name="install-id" type="hidden" required>
                     <input  id="icon" name="icon" type="hidden" required>
                     <table id="modal_add_builder" class="table" cellspacing="0" width="100%"  style="margin-top: 0px;">
                        <thead>
                           <tr>
                              <th>Name</th>
      <!--
                              <th>Arch</th>
                              <th>Rev</th>
                              <th>Size</th>
                              <th>SizeCompress</th>
      -->
                           </tr>
                        </thead>
                        <tbody>
                        </tbody>
                     </table>
                     <div id="datatables-error-status"></div>
                              <label class="">Build options<span class="required">*</span>
                              </label>

                              <textarea id="builder-options" name="builder-options" class="form-control" rows="5" placeholder="Options" style="width:100%"></textarea>
                  </div>


                           
                  <div class="x_panel" id="builder-hardware-block" style="padding: 5px;">
                     <p style="font-size: 18px;margin-bottom:0px;">Hardware</p>
                     {% include '/snippets/domain_hardware_disksize_edit.html' %}
                  </div>
                  <!-- Modal Footer -->
                  <div class="modal-footer" style="padding: 5px;">
                     <ul class="nav navbar-left panel_toolbox">
                        <li><button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button></li>
                     </ul>
                     <ul class="nav navbar-right panel_toolbox">
                        <li><button id="send" type="button" class="btn btn-success">Create desktop</button></li>
                     </ul>
                  </div>
               </form>
            </div>
         </div>
    </div>
</div>


<div class="modal fade" id="modalAddFromMedia" tabindex="-1" role="dialog" 
   aria-labelledby="modalAddMedia" aria-hidden="true" >
    <div class="modal-dialog modal-lg" >
        <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
           <button type="button" class="close" 
              data-dismiss="modal">
           <span aria-hidden="true">&times;</span>
           <span class="sr-only">Close</span>
           </button>
           <h4 class="modal-title" id="myModalLabel">
              <i class="fa fa-plus fa-1x"> </i> <i class="fa fa-circle-o"> </i>   Create desktop from media
           </h4>
        </div>
        <!-- Modal Body -->
        <div class="modal-body">
               <form id="modalAdd" class="" data-parsley-validate>
                   
                    <div class="row">
                        <div class="col-md-6 col-xs-12">
                          <div id="modalData" class="x_panel" >
                             <p style="font-size: 18px;margin-bottom:0px;">Desktop name and description</p>
                             <div class="x_content">
                                <label for="name">Name<span class="required"> *</span></label>
                                <input type="text" id="name" class="form-control" name="name" pattern="^[_àèìòùáéíóúñçÀÈÌÒÙÁÉÍÓÚÑÇ .a-zA-Z0-9]+$" data-parsley-length="[4, 40]" name="name" placeholder="New desktop name" data-parsley-trigger="change" required />
                      
                                  <label for="message">Description</label>
                                  <textarea id="description" class="form-control" name="description"></textarea>                              
                             </div>
                          </div>
                        </div>
                        <div class="col-md-6 col-xs-12">
                          <div id="modalMedia" class="x_panel" style="background-color:#f5f5f0;">
                             <p style="font-size: 18px;margin-bottom:0px;"><i class="fa fa-circle-o"></i> Select ISO/Floppy to boot from</p>
                             <div id="datatables-media-error-status"></div>
                             <input  id="media" name="media" type="hidden" required>
                             <table id="modal_add_media" class="table" cellspacing="0" width="100%"  style="margin-top: 0px;">
                                <thead>
                                   <tr>
                                      <th>Name</th>
                                   </tr>
                                </thead>
                                <tbody>
                                </tbody>
                             </table>
                        
                          </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-6 col-xs-12">                   
                            <div class="row">
                                  <div id="modalInstall" class="x_panel" style="background-color:#efeff5;">
                                     <p style="font-size: 18px;margin-bottom:0px;"> Select OS hardware template</p>
                                     <div id="datatables-install-error-status"></div>
                                     <input  id="install" name="install" type="hidden" required>
                                     <table id="modal_add_install" class="table" cellspacing="0" width="100%"  style="margin-top: 0px;">
                                        <thead>
                                           <tr>
                                              <th>Name</th>
                                              <th>Vers</th>
                                           </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                     </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12">    
                          <div class="x_panel" id="media-hardware-block"  style="background-color:#efeff5;">
                             <p style="font-size: 18px;margin-bottom:0px;"><i class="fa fa-wrench"></i> Adjust OS template Hardware</p>
                             {% include '/snippets/domain_hardware_disksize_edit.html' %}
                          </div>
                        </div>
                    </div>

               </form>
              <!-- Modal Footer -->
              <div class="modal-footer">
             <ul class="nav navbar-left panel_toolbox">
                <li><button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button></li>
             </ul>
             <ul class="nav navbar-right panel_toolbox">
                <!--
                   <li><button id="btn-hardware" type="button" class="btn btn-info" style="display: none;">Set hardware</button></li>
                   -->
                <li><button id="send" type="button" class="btn btn-success">Create desktop</button></li>
             </ul>
          </div>
       
          </div>
          </div>
    </div>
</div>

<div class="modal fade" id="modalServer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <!-- Modal Header -->
         <div class="modal-header">   
               <button type="button" class="close" 
                  data-dismiss="modal">
                     <span aria-hidden="true">&times;</span>
                     <span class="sr-only">Close</span>
               </button>
               <h4 class="modal-title" id="myModalLabel">
                  <i class="fa fa-plug fa-1x"> </i> Server
               </h4>
         </div>
         <!-- Modal Body -->
         <div class="modal-body">
            <form id="modalServerForm" class="form-horizontal form-label-left">
               <input  id="id" name="id" type="hidden" required>
               <div class="item form-group">
                  </label>
                  <div class="col-md-12 col-sm-12 col-xs-12">
                     <div class="checkbox">
                        <label class="">
                        <div class="icheckbox_flat-green" style="position: relative;">
                            <input type="checkbox" id="server" name="server" class="flat capabilities_hypervisor"  style="position: absolute; opacity: 0;">
                            <ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;">
                            </ins>
                        </div> Set as server (will be started always)
                        </label>
                    </div> 
                  </div>
               </div>
            </form>
         </div>
         <!-- Modal Footer -->
         <div class="modal-footer">
            <ul class="nav navbar-left panel_toolbox">
                <li><button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button></li>
            </ul>
            <ul class="nav navbar-right panel_toolbox">
               <button id="send" type="button" class="btn btn-success">Update</button>
            </ul>
        </div>
      </div>
   </div>
</div>

<div class="modal fade" id="modalEditXml" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <!-- Modal Header -->
         <div class="modal-header">   
               <button type="button" class="close" 
                  data-dismiss="modal">
                     <span aria-hidden="true">&times;</span>
                     <span class="sr-only">Close</span>
               </button>
               <h4 class="modal-title" id="myModalLabel">
                  <i class="fa fa-file-code-o fa-1x"> </i> Edit XML
               </h4>
         </div>
         <!-- Modal Body -->
         <div class="modal-body">
            <form id="modalEditXmlForm" class="form-horizontal form-label-left">
               <input  id="id" name="id" type="hidden" required>
               <div class="item form-group">
                  </label>
                  <div class="col-md-12 col-sm-12 col-xs-12">
                     <textarea class="form-control" rows="30" id="xml"></textarea>
                  </div>
               </div>
            </form>
         </div>
         <!-- Modal Footer -->
         <div class="modal-footer">
            <ul class="nav navbar-left panel_toolbox">
                <li><button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button></li>
            </ul>
            <ul class="nav navbar-right panel_toolbox">
               <button id="send" type="button" class="btn btn-success">Update</button>
            </ul>
        </div>
      </div>
   </div>
</div>

<div class="modal fade" id="modalJumperurl" tabindex="-1" role="dialog" aria-labelledby="modalJumperurl" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <!-- Modal Header -->
         <div class="modal-header">
             <button type="button" class="close" data-dismiss="modal">
                 <span aria-hidden="true">&times;</span>
                 <span class="sr-only">Close</span>
             </button>
             <h4 class="modal-title" id="myModalLabel">
                 <i class="fa fa-plus fa-1x"></i> Direct viewer access <i class="fa fa-key"></i>
             </h4>
         </div>

         <!-- Modal Body -->
         <div class="modal-body">
             <form id="modalJumperurlForm" class="form-horizontal">
                 <div class="x_panel">
                     <div class="x_content">
                         <input id="id" name="id" hidden ></input>
                         <div class="item form-group">
                             <label class="control-label col-md-6 col-sm-6 col-xs-12" for="jumperurl-check">
                                Enable direct viewer access
                             </label>
                             <div class="col-md-6 col-sm-6 col-xs-12">
                                 <div class="checkbox">
                                     <label class="">
                                         <div class="icheckbox_flat-green">
                                             <input type="checkbox" id="jumperurl-check" name="jumperurl-check" class="flat"  style="position: absolute; opacity: 0;">
                                             <ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;">
                                             </ins>
                                         </div>
                                     </label>
                                 </div>                               
                             </div>
                         </div>
                         <div class="row">
                             <div class="col-md-8 col-sm-8 col-xs-12">
                                 <input id="jumperurl" class="form-control roundbox" name="jumperurl" style="width:100%; " placeholder="Viewer url" disabled />
                             </div>
                             <div class="col-md-4 col-sm-4 col-xs-12">
                                 <button class="btn btn-info pull-right btn-copy-jumperurl" type="button"  data-placement="top"><i class="fa fa-clipboard" ></i> Copy to clipboard</button>
                             </div>                                                                        
                         </div>
                     </div>
                 </div>
             </form>
         </div>
         <!-- Modal Footer -->
         <div class="modal-footer">
             <ul class="nav navbar-left panel_toolbox">
                 <li>
                     <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                 </li>
             </ul>
         </div>
      </div>
   </div>
</div>

<div class="modal fade" id="modalForcedhyp" tabindex="-1" role="dialog" aria-labelledby="modalForcedHyp" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <!-- Modal Header -->
         <div class="modal-header" style="padding: 5px;">
            <button type="button" class="close" data-dismiss="modal">
                  <span aria-hidden="true">&times;</span>
                  <span class="sr-only">Close</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">
                  <i class="fa fa-plus fa-1x"></i> <i class="fa fa-rocket"></i> Forced hypervisor
            </h4>
         </div>

         <!-- Modal Body -->
         <div class="modal-body">
            <form id="modalForcedhypForm" class="form-horizontal">
               <div class="x_panel">
                  <div class="x_content">
                     <input hidden id="id" name="id"/>
                     <div class="item form-group">
                        <label class="control-label col-md-6 col-sm-6 col-xs-12">Domain will be forced to start in defined hyper</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                           <div class="checkbox">
                              <label class="">
                                 <div class="icheckbox_flat-green" style="position: relative;">
                                    <input type="checkbox" id="forcedhyp-check" name="forcedhyp-check" class="flat"  style="position: absolute; opacity: 0;">
                                    <ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;">
                                    </ins>
                                 </div>
                              </label>
                           </div>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                           <select id="forced_hyp" name="forced_hyp" class="form-control" required>
                           </select> 
                        </div>
                     </div>
                  </div>
               </div>
            </form>
         </div>
         <!-- Modal Footer -->
         <div class="modal-footer">
            <ul class="nav navbar-left panel_toolbox">
                <li><button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button></li>
            </ul>
            <ul class="nav navbar-right panel_toolbox">
               <li><button id="send" type="button" class="btn btn-success">Update</button></li>
            </ul>
        </div>
      </div>
   </div>
</div>

<div class="modal fade" id="modalFavouriteHyp" tabindex="-1" role="dialog" aria-labelledby="modalFavouriteHyp" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <!-- Modal Header -->
         <div class="modal-header" style="padding: 5px;">
            <button type="button" class="close" data-dismiss="modal">
               <span aria-hidden="true">&times;</span>
               <span class="sr-only">Close</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">
               <i class="fa fa-plus fa-1x"></i> <i class="fa fa-rocket"></i> Favourite hypervisor
            </h4>
         </div>

         <!-- Modal Body -->
         <div class="modal-body">
            <form id="modalFavouriteHypForm" class="form-horizontal">
               <div class="x_panel">
                  <div class="x_content">
                     <input hidden id="id" name="id"/>
                     <div class="item form-group">
                        <label class="control-label col-md-6 col-sm-6 col-xs-12">Domain will have preference to start in defined hyper. <br/>If hyper not available, domain will start in current available hyper.</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                           <div class="checkbox">
                              <label class="">
                                 <div class="icheckbox_flat-green" style="position: relative;">
                                    <input type="checkbox" id="favouritehyp-check" name="favouritehyp-check" class="flat"  style="position: absolute; opacity: 0;">
                                    <ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;">
                                    </ins>
                                 </div>
                              </label>
                           </div>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                           <select id="favourite_hyp" name="favourite_hyp" class="form-control" required>
                           </select> 
                        </div>
                     </div>
                  </div>
               </div>
            </form>
         </div>
         <!-- Modal Footer -->
         <div class="modal-footer">
            <ul class="nav navbar-left panel_toolbox">
                <li><button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button></li>
            </ul>
            <ul class="nav navbar-right panel_toolbox">
               <li><button id="send" type="button" class="btn btn-success">Update</button></li>
            </ul>
        </div>
      </div>
   </div>
</div>

<div class="modal fade" id="modalBulkEdit" tabindex="-1" role="dialog" aria-labelledby="modalBulkEdit"
   aria-hidden="true">
   <div class="modal-dialog  modal-lg">
      <div class="modal-content">
         <!-- Modal Header -->
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
               <span aria-hidden="true">&times;</span>
               <span class="sr-only">Close</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">
               <i class="fa fa-pencil fa-1x"> </i> <i class="fa fa-desktop"> </i> Edit multiple desktops
            </h4>
         </div>

         <!-- Modal Body -->
         <div class="modal-body" style="padding:20px;">
            <form id="modalBulkEditForm" class="form-inline form-label-left">

               <div class="x_panel" style="padding: 5px; margin-bottom: 0px">
                  <div class="x_title">
                     <h4><i class="fa fa-desktop"></i> Desktops to edit</h4>
                     <div class="clearfix"></div>
                  </div>
               </div>

               <div class="clearfix" style="margin-left: 5px; margin-bottom: 10px;">
                  <div class="" style="margin-bottom:5px; color: red; font-size: 18px" id="desktops-number"></div>
                  <div class="table-responsive" id="desktops-list"
                     style="max-height: 169px; overflow-y: scroll; margin-left: 5px;">
                  </div>
               </div>

               <div class="x_panel" id="viewers-block" style="padding: 5px;">
                  <div class="x_title">
                     <h4><i class="fa fa-eye" aria-hidden="true"></i> Desktop viewers</h4>
                     <div class="clearfix"></div>
                  </div>

                  <div class="checkbox" id="edit-viewers-checkbox" style="margin-top: 2px; margin-bottom: 7px;">
                     <label class="">
                        <div class="icheckbox_flat-green" style="position: relative;">
                           <input type="checkbox" id="edit-viewers" name="edit-viewers"
                              style="position: absolute; opacity: 0;">
                           <ins class="iCheck-helper"
                              style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;">
                           </ins>
                        </div>
                        <b>Update viewers</b>
                     </label>
                  </div>

                  <div class="item form-group" id="viewers-row">
                     <label class="control-label col-md-12 col-sm-12 col-xs-12"
                        for="guest_properties-fullscreen">Available viewers
                     </label>
                     <div class="col-md-3 col-sm-3 col-xs-12">
                        <div class="checkbox">
                           <label class="">
                              <div class="icheckbox_flat-green" style="position: relative;">
                                 <input type="checkbox" id="viewers-file_spice" name="viewers-file_spice"
                                    class="flat capabilities_hypervisor" style="position: absolute; opacity: 0;">
                                 <ins class="iCheck-helper"
                                    style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;">
                                 </ins>
                              </div>
                              Spice (Client)
                           </label>
                        </div>
                     </div>
                     <div class="col-md-3 col-sm-3 col-xs-12">
                        <div class="checkbox">
                           <label class="">
                              <div class="icheckbox_flat-green" style="position: relative;">
                                 <input type="checkbox" id="viewers-browser_vnc" name="viewers-browser_vnc"
                                    class="flat capabilities_hypervisor" style="position: absolute; opacity: 0;">
                                 <ins class="iCheck-helper"
                                    style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;">
                                 </ins>
                              </div>
                              VNC (browser)
                           </label>
                        </div>
                     </div>
                     <div class="col-md-3 col-sm-3 col-xs-12">
                        <div class="checkbox">
                           <label class="">
                              <div class="icheckbox_flat-green" style="position: relative;">
                                 <input type="checkbox" id="viewers-file_rdpgw" name="viewers-file_rdpgw"
                                    class="flat capabilities_hypervisor" style="position: absolute; opacity: 0;">
                                 <ins class="iCheck-helper"
                                    style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;">
                                 </ins>
                              </div>
                              RDP (Client)
                           </label>
                        </div>
                     </div>
                     <div class="col-md-3 col-sm-3 col-xs-12">
                        <div class="checkbox">
                           <label class="">
                              <div class="icheckbox_flat-green" style="position: relative;">
                                 <input type="checkbox" id="viewers-file_rdpvpn" name="viewers-file_rdpvpn"
                                    class="flat capabilities_hypervisor" style="position: absolute; opacity: 0;">
                                 <ins class="iCheck-helper"
                                    style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;">
                                 </ins>
                              </div>
                              RDP (Client over VPN)
                           </label>
                        </div>
                     </div>
                     <div class="col-md-3 col-sm-3 col-xs-12">
                        <div class="checkbox">
                           <label class="">
                              <div class="icheckbox_flat-green" style="position: relative;">
                                 <input type="checkbox" id="viewers-browser_rdp" name="viewers-browser_rdp"
                                    class="flat capabilities_hypervisor" style="position: absolute; opacity: 0;">
                                 <ins class="iCheck-helper"
                                    style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;">
                                 </ins>
                              </div>
                              RDP (Browser)
                           </label>
                        </div>
                     </div>

                     <div class="x_content">
                        <div class="checkbox" id="edit-credentials-checkbox"
                           style="margin-top: 12px; margin-bottom: 7px;">
                           <label class="">
                              <div class="icheckbox_flat-green" style="position: relative;">
                                 <input type="checkbox" id="edit-credentials" name="edit-credentials"
                                    style="position: absolute; opacity: 0;">
                                 <ins class="iCheck-helper"
                                    style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;">
                                 </ins>
                              </div>
                              <b>Update RDP credentials</b>
                           </label>
                        </div>

                        <div class="item form-group" id="credentials-row">
                           <label class="col-md-6 col-sm-6 col-xs-12 my-error">WARNING: Guest password will be stored
                              in plain text!!
                           </label>
                           <div class="col-md-4 col-xs-12">
                              <label class="control-label" for="name">Guest username
                              </label>
                              <input id="guest_properties-credentials-username" maxlength="40"
                                 data-parsley-length="[0, 40]" name="guest_properties-credentials-username"
                                 placeholder="Guest username" data-parsley-trigger="change" type="text"
                                 style="width:100%">
                           </div>
                           <div class="col-md-4 col-xs-12">
                              <label class="control-label" for="name">Guest password
                              </label>
                              <input id="guest_properties-credentials-password" maxlength="40"
                                 data-parsley-length="[1, 40]" name="guest_properties-credentials-password"
                                 placeholder="Guest password" data-parsley-trigger="change" type="text"
                                 style="width:100%">
                           </div>
                        </div>
                     </div>
                  </div>
               </div>

               <div class="x_panel" id="hardware-block" style="padding: 5px; margin-bottom: 0px">
                  <div class="x_title">
                     <h4><i class="fa fa-gear" aria-hidden="true"></i> Hardware</h4>
                     <div class="clearfix"></div>
                  </div>
                  {% include '/snippets/domain_hardware_edit.html' %}
               </div>

               <div class="x_panel" id="bookables-block" style="padding: 5px; margin-top: 10px;">
                  <div class="x_title">
                     <h4><i class="fa fa-briefcase" aria-hidden="true"></i> Bookable resources</h4>
                     <div class="clearfix"></div>
                  </div>
                  <div id="bookables-row">
                     {% include '/snippets/domain_reservables_edit.html' %}
                  </div>
               </div>
               <input type="hidden" name="ids" id="ids" />
         </div>

         <!-- Modal Footer -->
         <div class="modal-footer" style="padding: 15px;">
            <ul class="nav navbar-left panel_toolbox">
               <li><button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button></li>
               </li>
            </ul>
            <ul class="nav navbar-right panel_toolbox">
               <li><button id="send" type="button" class="btn btn-success">Update desktops</button></li>
               </li>
            </ul>
         </div>
         </form>
      </div>
   </div>
</div>


<div class="modal fade" id="modalDeleteTemplate" tabindex="-1" role="dialog" aria-labelledby="modalDeleteTemplate" aria-hidden="true" >
   <div class="modal-dialog modal-lg" >
      <div class="modal-content">
         <!-- Modal Header -->
         <div class="modal-header">
            <button type="button" class="close" 
               data-dismiss="modal">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">
               <i class="fa fa-warning" style="color:red"></i>   Delete template along with its duplicates and derivatives
            </h4>
         </div>
         <!-- Modal Body -->
         <div class="modal-body">
            <div class="row">
               <div class="x_panel">
                  <div class="x_title">
                     <h4>List of domains to be deleted<small>These domains depend on this template</small></h4>
                     <div class="clearfix"></div>
               </div>
               <form id="modalDeleteTemplateForm">
                  <input  id="id" name="id" type="hidden" required>
               </form>
                  {% include '/snippets/template_tree.html' %}
               </div>
            </div>
            <div class="row">
               <div class="x_panel">
                     <div class="x_content">
                        <p style="font-size: 18px;margin-bottom:0px; color: red"> All these desktops and templates will be deleted!<br></p>
                        <p id="warning">These dependencies will also be deleted and moved to the recycle bin. </p>
                        {% if current_user.role != 'admin' %}
                        <div class="alert alert-danger" role="alert" id="manager-warning" style="display:none;">
                           This template has derivatives from categories you do not own.<b>
                              You cannot delete this item.</b><br>Please, contact your administrator
                        </div>
                        {% endif %}
                     </div>
               </div>
            </div>
         </div>
         <!-- Modal Footer -->
         <div class="modal-footer">
            <ul class="nav navbar-left panel_toolbox">
               <li><button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button></li>
            </ul>                
            <ul class="nav navbar-right panel_toolbox">
               <li><button id="send" type="button" class="btn btn-danger">Stop and Delete</button></li>
            </ul>
         </div>
      </div>
   </div>
</div>


<div class="modal fade" id="modalDuplicateTemplate" tabindex="-1" role="dialog" aria-labelledby="modalTemplateDesktop" aria-hidden="true">
   <div class="modal-dialog modal-lg">
       <div class="modal-content">
           <!-- Modal Header -->
           <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal">
                   <span aria-hidden="true">&times;</span>
                   <span class="sr-only">Close</span>
               </button>
               <h4 class="modal-title" id="myModalLabel">
                  <i class="fa fa-plus"></i> <i class="fa fa-cube"></i> Duplicate template in database only
               </h4>
           </div>

           <!-- Modal Body -->
           <div class="modal-body">
               <form id="modalDuplicateTemplateForm" class="form-horizontal form-label-left" novalidate>
                   <div class="x_panel">
                       <div class="x_title">
                           <h4><i class="fa fa-cubes"></i> Template properties</h4>
                           <div class="clearfix"></div>
                       </div>
                       <div class="x_content">
                           <input id="id" name="id" class="template-id" hidden ></input>
                           <div class="row">
                               <div class="col-md-12 col-xs-12">
                                   <label class="control-label" for="name">Template name <span class="required">*</span>
                                   </label>
                                   <input id="template-name" class="form-control template-name" maxlength="60" pattern="^[\-_àèìòùáéíóúñçÀÈÌÒÙÁÉÍÓÚÑÇ .a-zA-Z0-9]+$" data-parsley-length="[4, 60]" name="name" placeholder="New template name" data-parsley-trigger="change" required type="text">
                               </div>
                               <input id="kind" name="kind" class="template-kind" hidden value="template" ></input>
                           </div>
                           <div class="row">
                               <div class="col-md-12 col-xs-12">
                                   <label class="control-label" for="description">Template description
                                   </label>
                                   <textarea id="description" name="description" class="form-control col-md-7 col-xs-12 template-description"></textarea>
                               </div>
                           </div>
                           <div class="col-md-4 col-xs-12">
                              <label class="control-label" for="user_id">New user Owner <small>(Empty to keep yours)</small>
                              </label>
                              <select class="form-control roundbox" style="font-size:12px; padding:1px; width:100%; overflow: hidden; text-overflow: ellipsis;" id="user_id" name="user_id">
                              </select>
                           </div>
                       </div>
                   </div>
                   <div class="x_panel">
                       <div class="x_title">
                           <h4>Options</h4>
                           <div class="clearfix"></div>
                       </div>
                       <div class="x_content">
                           <div class="row">
                               <div class="col-md-2 col-xs-2">
                                   <label class="control-label" for="enabled-template">
                                       Enabled
                                       <div class="icheckbox_flat-green" style="position: relative;">
                                           <input type="checkbox" id="enabled" name="enabled" class="flat" style="position: absolute; opacity: 0;">
                                           <ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;">
                                           </ins>
                                       </div>
                                   </label>
                               </div>
                               <input id="kind" name="kind" class="template-kind" hidden value="template" ></input>
                           </div>
                       </div>
                   </div>
                   <div id="alloweds-add">
                   {% include '/snippets/alloweds_add.html' %}
                   </div>
               </form>
           </div>
           <!-- Modal Footer -->
           <div class="modal-footer">
               <ul class="nav navbar-left panel_toolbox">
                   <li><button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button></li>
               </ul>
               <ul class="nav navbar-right panel_toolbox">
                   <li><button id="send" type="button" class="btn btn-success">Duplicate template</button></li>
               </ul>
           </div>
       </div>
   </div>
</div>


<div class="modal fade" id="modalChangeOwnerDomain" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
   aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <!-- Modal Header -->
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
               <span aria-hidden="true">&times;</span>
               <span class="sr-only">Close</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">
               <i class="fa fa-exchange fa-1x"> </i> Change Owner
            </h4>
         </div>
         <!-- Modal Body -->
         <div class="modal-body" style="padding-top: 7px;">
            <form id="modalChangeOwnerDomainForm" class="form-horizontal form-label-left">
               <input id="id" type="hidden" required>
               <div class="x_panel">
                  <h4><i class="fa fa-user aria-hidden=" true"></i> Change this domain's user</h4>
                  <div class="alert alert-danger">
                     <ul>
                        <li>
                           {% if current_user.role == 'manager' %}
                           If the new owner is in a different group the domain's group will be changed too!
                     
                           {% elif current_user.role == 'admin' %}
                           If the new owner belongs to a different group or category, the domain's group or category will also be
                           updated!<br>
                           {% endif %}
                        </li>
                        <li>
                           If there are media items in this domain that are not shared with the new user, they will be removed from the
                           domain.
                           </div>
                        </li>
                     </ul>
                  <div class="x_content" style="padding: 0px;">
                     <div class="x_panel">
                        <div class="row">
                           <div>
                              <label class="col-md-3 col-sm-3 col-xs-6" for="name">New owner <span
                                    class="required">*</span>
                              </label>
                              <div class="col-md-6 col-sm-6 col-xs-12">
                                 <select id="new_owner" name="new_owner" class="tags-select roundbox"
                                    placeholder="New owner" required style="width: 100%;">
                                 </select>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </form>
         </div>
         <!-- Modal Footer -->
         <div class="modal-footer">
            <ul class="nav navbar-left panel_toolbox">
               <li><button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button></li>
            </ul>
            <ul class="nav navbar-right panel_toolbox">
               <button id="send" type="button" class="btn btn-success">Change owner</button>
            </ul>
         </div>
      </div>
   </div>
</div>