
<!-- extend base layout -->
{% extends "base.html" %}

{% block css %}
<style>
.dataTables_wrapper.loading {
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

</style>
{% endblock %}
{% block content %}

<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
     <div class="x_panel">
        <div class="page-title">
           <div class="title_left">
              <h3><i class="fa fa-folder-open"></i> Logs <small>Select a range to show logs table details</small></h3>
           </div>
           <div id="echart-daily-items"></div>
           <div class="clearfix"></div>
        </div>
     </div>
  </div>
</div>

<div class="row" id="raw_view">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h3><i class="fa fa-lock"></i> Desktops <small>Desktops start/stop logs</small></h3>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <ul class="nav nav-tabs bar_tabs" id="myTab" role="tablist">
          <li class="nav-item">
          <a class="nav-link active" id="btn-raw-view-tab" data-toggle="tab" href="#btn-raw-view" role="tab" aria-controls="btn-raw-view" aria-selected="true">List</a>
          </li>
          <li class="nav-item">
          <a class="nav-link" id="btn-desktop-view-tab" data-toggle="tab" href="#btn-desktop-view" role="tab" aria-controls="btn-desktop-view" aria-selected="false">Desktop name grouping</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="btn-echarts-view-tab" data-toggle="tab" href="#btn-echarts-view" role="tab" aria-controls="btn-echarts-view" aria-selected="false">Analytics</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade" id="btn-raw-view" role="tabpanel" aria-labelledby="btn-raw-view-tab">
            <table id="table-logs-desktops" class="table table-stripped">
              <thead>
                <tr>
                  <th></th>
                  <th>Starting time</th>
                  <th>Desktop name</th>
                  <th>User Name</th>
                  <th>User Group</th>
                  <th>User Category</th>
                </tr>
              </thead>
              <tbody>
              </tbody>
              <tfoot>
                <tr>
                  <th></th>
                  <th>Starting time</th>
                  <th>Desktop name</th>
                  <th>User Name</th>
                  <th>User Group</th>
                  <th>User Category</th>
                </tr>
              </tfoot>
            </table>
          </div>
          <div class="tab-pane fade" id="btn-desktop-view" role="tabpanel" aria-labelledby="btn-desktop-view-tab">
            <table id="table-logs-desktops-desktop-view" class="table table-stripped">
              <thead>
                <tr>
                  <th></th>
                  <th>Desktop name</th>
                  <th>Starting time</th>
                  <th>User Name</th>
                  <th>User Group</th>
                  <th>User Category</th>
                </tr>
              </thead>
              <tbody>
              </tbody>
              <tfoot>
                <tr>
                  <th></th>
                  <th>Desktop name</th>
                  <th>Starting time</th>
                  <th>User Name</th>
                  <th>User Group</th>
                  <th>User Category</th>
                </tr>
              </tfoot>
            </table>
          </div>

          <div class="tab-pane fade" id="btn-echarts-view" role="tabpanel" aria-labelledby="btn-echarts-view-tab">

            <div class="col-md-4 col-sm-4">
              <div class="x_panel">
                <div class="x_title">
                  <h2>Browsers</h2>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content" style="height: 5000px;">
                  <div id="echart_request_agent_browser"></div>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-4">
              <div class="x_panel">
                <div class="x_title">
                  <h2>Preferred viewer</h2>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content" style="height: 5000px;">
                  <div id="echart_preferred_viewer"></div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}

{% block pagescript %}
  <!-- Isard restful ajax calls -->
  <script src="/isard-admin/static/js/restful.js"></script>
  <!-- <script src="/isard-admin/static/admin/js/filters.js"></script> -->
  <script src="/isard-admin/echarts/dist/echarts.min.js"></script>
  <script src="/isard-admin/static/admin/js/echarts.js"></script>
  <script src="/isard-admin/static/admin/js/logs_desktops.js"></script>
{% endblock %}